/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  #hotChocolate {
    width: 2rem;
    height: 2rem;
  }

  .menu-images {
    max-width: 320px;
    max-height: 320px;
  }

  #about-us-image {
    max-width: 320px; 
    max-height: 320px;
  }
  
  #typesOfChoc {
    display: flex;
  }

  .types-of-chocolate {
    max-width: 1rem;
    max-height: 1rem;
  }

  #chocolate-types-images {
    display: flex;
  }

  #about-us {
    display: flex;
  }

  #menu-div {
    display: flex;
  }
  